.room h2 {
  margin: 0;
  font-size: 24px;
}

.room h2 .room-name {
  display: inline-block;
  margin-right: 10px;
  color: var(--primary);
}

.room h2 .count {
  display: inline-block;
  color: var(--highlight);
  font-weight: normal;
}
