.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 20px 0;
}

.user-list li {
  display: block;
  width: calc(100% - 20px);
  box-sizing: content-box;
  height: 18px;
  padding: 17px 10px;
  margin-bottom: 12px;
  border-radius: 10px;
}

.user-list li:last-child {
  margin-bottom: 0;
}
