.progress-bar {
  width: 100%;
  height: 10px;
  background-color: var(--disabled);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
}

.progress-bar > .progress-bar-inner {
  width: 100%;
  background-color: var(--highlight);
  height: 100%;
  transition-property: all;
  transition-timing-function: linear;
}
